/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width:1400px){

}

/* ----x--------x---------x--------x------x------ */



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


@media (max-width:1250px){
    .fixed-width {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
}

/* ----x--------x---------x--------x------x------ */


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width:992px){

    .fixed-width {
        width: 100%;
        max-width: 100%;
    }

    /********* BANNER SECTION START **********/

    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        font-size: 16px;
        margin: 12px 0;
    }

    .banner button {
        padding: 8px 18px;
        font-size: 12px;
        margin-top: 12px;
    }

    .banner {
        padding: 150px 0;
    }

    /********* BANNER SECTION END **********/

    /********* SERVICE SECTION START **********/
    
    .service-box {
        width: 50%;
        padding: 30px;
        margin-bottom: 20px;
    }

    .service-box p{
        padding: 0 !important;
    }
    
    /********* SERVICE SECTION END **********/

    /********** ABOUT SECTION START ************/

    .about-img {
        width: 100%;
    }

    .about-img img {
        max-width: 100%;
        width: 100%;
    }

    .about-text {
        width: 100%;
        padding: 0 20px ;
        box-sizing: border-box;
    }

    /********** ABOUT SECTION END ************/

    /********** CONTACT SECTION START ************/
    
    .contact {
        padding: 50px 30px;
    }
    
    .contact-box {
        padding: 10px 20px;
    }
    
    /********** CONTACT SECTION END ************/

}

/* ----x--------x---------x--------x------x------ */




.menu input,
.menu span i{
    display: none;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width:768px){

    /******* MENU START *******/

    .header {
        position: relative;
    }

    .logo {
        width: 70%;
    }

    .menu {
        width: 30%;
    }

    .menu ul {
        padding: 0;
        margin-top: 30px;
        opacity: 0;
        visibility: hidden;
        height: 0;
    }

    .menu ul li{
        display: block;
    }

    .menu span i {
        position: absolute;
        top: 26px;
        right: 45px;
        font-size: 30px;
        color: #fff;
        display: block;
    }

    .menu input {
        position: absolute;
        top: 26px;
        right: 45px;
        height: 30px;
        width: 30px;
        opacity: 0;
        display: block;
        cursor: pointer;
    }

    .menu input:checked ~ ul{
        visibility: visible;
        opacity: 1;
        height: 100%;
    }

    /******** MENU END *********/

    /******* BANNER START *******/

    .banner {
        padding: 120px 0;
    }

    .banner h1 {
        font-size: 35px;
    }

    .banner p {
        font-size: 14px;
        margin: 12px 0;
    }



    /******* BANNER END *******/

    /********* SERVICE SECTION START **********/
    
    .service {
        padding: 70px 0 50px 0;
    }

    .box {
        margin-top: 60px;
    }
    
    .service p {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .service-box {
        padding: 15px;
    }

    /********* SERVICE SECTION END **********/

    /********* ABOUT SECTION START **********/
    

    .about {
        padding: 60px 0 40px 0;
    }

    .a-p {
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    /********* ABOUT SECTION END **********/
    
    /********* CONTACT SECTION START **********/
    

    .contact-box {
        width: 100%;
        margin-top: 50px;
    }

    .contact-box p {
        line-height: 28px;
    }
    
    /********* CONTACT SECTION END **********/

  
}

/* ----x--------x---------x--------x------x------ */


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width:576px){

    /******* BANNER START *******/

    .banner {
        padding: 90px 0;
    }

    .banner h1 {
        font-size: 28px;
    }

    .banner p {
        font-size: 14px;
        margin: 12px 0;
    }

    /******* BANNER END *******/

     /********* SERVICE SECTION START **********/
    
     .service-box {
        width: 100%;
        padding: 0 40px;
        margin-bottom: 40px;
    }

    /********* SERVICE SECTION END **********/

    /********* ABOUT SECTION START **********/

    .a-p {
        margin-bottom: 30px;
    }

    .about h2 {
        margin-bottom: 15px;
    }

    .about-text  p {
        margin-bottom: 40px;
    }


    /********* ABOUT SECTION END **********/

    /********* CONTACT SECTION START **********/
    
    .social-menu ul li a {
        padding: 18px 5px;
    }

    .footer {
        font-size: 12px;
    }
    
    /********* CONTACT SECTION END **********/


}

/* ----x--------x---------x--------x------x------ */



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width:300px){

    .banner {
        padding: 90px 10px;
    }
}


